html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,progress,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
    color:#3994e6;
    text-decoration:none;
    cursor:pointer
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,optgroup,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    vertical-align:middle
}
svg:not(:root){
    overflow:hidden
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0;
    margin:4px 0 0;
    line-height:normal
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
input[type=search]{
    -webkit-appearance:textfield;
    box-sizing:content-box;
    box-sizing:border-box;
    -webkit-appearance:none
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
textarea{
    overflow:auto;
    height:35rem;
    margin-top:2rem;
    padding-top:1rem;
    white-space:pre
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
*,:after,:before{
    box-sizing:border-box
}
html{
    font-size:10px;
    -webkit-tap-highlight-color:transparent;
    height:100%
}
body{
    margin:0;
    line-height:1.42857143
}
button,input,select,textarea{
    font-family:inherit;
    font-size:inherit;
    line-height:inherit
}
a:focus,a:hover{
    color:#186dbb;
    text-decoration:none
}
a:focus{
    outline:-webkit-focus-ring-color auto 5px;
    outline-offset:-2px
}
figure{
    margin:0
}
.img-responsive{
    display:block;
    max-width:100%;
    height:auto
}
.img-rounded{
    border-radius:6px
}
.img-thumbnail{
    padding:4px;
    line-height:1.42857143;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    transition:all .2s ease-in-out;
    display:inline-block;
    max-width:100%;
    height:auto
}
.img-circle{
    border-radius:50%
}
hr{
    box-sizing:content-box;
    height:0;
    margin-top:20px;
    margin-bottom:20px;
    border:0;
    border-top:1px solid #eee
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    margin:-1px;
    padding:0;
    overflow:hidden;
    clip:rect(0,0,0,0);
    border:0
}
.sr-only-focusable:active,.sr-only-focusable:focus{
    position:static;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto
}
[role=button]{
    cursor:pointer
}
.container{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
@media (min-width:768px){
    .container{
        width:750px
    }
}
@media (min-width:992px){
    .container{
        width:970px
    }
}
@media (min-width:1200px){
    .container{
        width:1170px
    }
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.row{
    margin-left:-15px;
    margin-right:-15px
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    position:relative;
    min-height:1px;
    padding-left:15px;
    padding-right:15px
}
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    float:left
}
.col-xs-12{
    width:100%
}
.col-xs-11{
    width:91.66666667%
}
.col-xs-10{
    width:83.33333333%
}
.col-xs-9{
    width:75%
}
.col-xs-8{
    width:66.66666667%
}
.col-xs-7{
    width:58.33333333%
}
.col-xs-6{
    width:50%
}
.col-xs-5{
    width:41.66666667%
}
.col-xs-4{
    width:33.33333333%
}
.col-xs-3{
    width:25%
}
.col-xs-2{
    width:16.66666667%
}
.col-xs-1{
    width:8.33333333%
}
.col-xs-pull-12{
    right:100%
}
.col-xs-pull-11{
    right:91.66666667%
}
.col-xs-pull-10{
    right:83.33333333%
}
.col-xs-pull-9{
    right:75%
}
.col-xs-pull-8{
    right:66.66666667%
}
.col-xs-pull-7{
    right:58.33333333%
}
.col-xs-pull-6{
    right:50%
}
.col-xs-pull-5{
    right:41.66666667%
}
.col-xs-pull-4{
    right:33.33333333%
}
.col-xs-pull-3{
    right:25%
}
.col-xs-pull-2{
    right:16.66666667%
}
.col-xs-pull-1{
    right:8.33333333%
}
.col-xs-pull-0{
    right:auto
}
.col-xs-push-12{
    left:100%
}
.col-xs-push-11{
    left:91.66666667%
}
.col-xs-push-10{
    left:83.33333333%
}
.col-xs-push-9{
    left:75%
}
.col-xs-push-8{
    left:66.66666667%
}
.col-xs-push-7{
    left:58.33333333%
}
.col-xs-push-6{
    left:50%
}
.col-xs-push-5{
    left:41.66666667%
}
.col-xs-push-4{
    left:33.33333333%
}
.col-xs-push-3{
    left:25%
}
.col-xs-push-2{
    left:16.66666667%
}
.col-xs-push-1{
    left:8.33333333%
}
.col-xs-push-0{
    left:auto
}
.col-xs-offset-12{
    margin-left:100%
}
.col-xs-offset-11{
    margin-left:91.66666667%
}
.col-xs-offset-10{
    margin-left:83.33333333%
}
.col-xs-offset-9{
    margin-left:75%
}
.col-xs-offset-8{
    margin-left:66.66666667%
}
.col-xs-offset-7{
    margin-left:58.33333333%
}
.col-xs-offset-6{
    margin-left:50%
}
.col-xs-offset-5{
    margin-left:41.66666667%
}
.col-xs-offset-4{
    margin-left:33.33333333%
}
.col-xs-offset-3{
    margin-left:25%
}
.col-xs-offset-2{
    margin-left:16.66666667%
}
.col-xs-offset-1{
    margin-left:8.33333333%
}
.col-xs-offset-0{
    margin-left:0
}
@media (min-width:768px){
    .col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{
        float:left
    }
    .col-sm-12{
        width:100%
    }
    .col-sm-11{
        width:91.66666667%
    }
    .col-sm-10{
        width:83.33333333%
    }
    .col-sm-9{
        width:75%
    }
    .col-sm-8{
        width:66.66666667%
    }
    .col-sm-7{
        width:58.33333333%
    }
    .col-sm-6{
        width:50%
    }
    .col-sm-5{
        width:41.66666667%
    }
    .col-sm-4{
        width:33.33333333%
    }
    .col-sm-3{
        width:25%
    }
    .col-sm-2{
        width:16.66666667%
    }
    .col-sm-1{
        width:8.33333333%
    }
    .col-sm-pull-12{
        right:100%
    }
    .col-sm-pull-11{
        right:91.66666667%
    }
    .col-sm-pull-10{
        right:83.33333333%
    }
    .col-sm-pull-9{
        right:75%
    }
    .col-sm-pull-8{
        right:66.66666667%
    }
    .col-sm-pull-7{
        right:58.33333333%
    }
    .col-sm-pull-6{
        right:50%
    }
    .col-sm-pull-5{
        right:41.66666667%
    }
    .col-sm-pull-4{
        right:33.33333333%
    }
    .col-sm-pull-3{
        right:25%
    }
    .col-sm-pull-2{
        right:16.66666667%
    }
    .col-sm-pull-1{
        right:8.33333333%
    }
    .col-sm-pull-0{
        right:auto
    }
    .col-sm-push-12{
        left:100%
    }
    .col-sm-push-11{
        left:91.66666667%
    }
    .col-sm-push-10{
        left:83.33333333%
    }
    .col-sm-push-9{
        left:75%
    }
    .col-sm-push-8{
        left:66.66666667%
    }
    .col-sm-push-7{
        left:58.33333333%
    }
    .col-sm-push-6{
        left:50%
    }
    .col-sm-push-5{
        left:41.66666667%
    }
    .col-sm-push-4{
        left:33.33333333%
    }
    .col-sm-push-3{
        left:25%
    }
    .col-sm-push-2{
        left:16.66666667%
    }
    .col-sm-push-1{
        left:8.33333333%
    }
    .col-sm-push-0{
        left:auto
    }
    .col-sm-offset-12{
        margin-left:100%
    }
    .col-sm-offset-11{
        margin-left:91.66666667%
    }
    .col-sm-offset-10{
        margin-left:83.33333333%
    }
    .col-sm-offset-9{
        margin-left:75%
    }
    .col-sm-offset-8{
        margin-left:66.66666667%
    }
    .col-sm-offset-7{
        margin-left:58.33333333%
    }
    .col-sm-offset-6{
        margin-left:50%
    }
    .col-sm-offset-5{
        margin-left:41.66666667%
    }
    .col-sm-offset-4{
        margin-left:33.33333333%
    }
    .col-sm-offset-3{
        margin-left:25%
    }
    .col-sm-offset-2{
        margin-left:16.66666667%
    }
    .col-sm-offset-1{
        margin-left:8.33333333%
    }
    .col-sm-offset-0{
        margin-left:0
    }
}
@media (min-width:992px){
    .col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{
        float:left
    }
    .col-md-12{
        width:100%
    }
    .col-md-11{
        width:91.66666667%
    }
    .col-md-10{
        width:83.33333333%
    }
    .col-md-9{
        width:75%
    }
    .col-md-8{
        width:66.66666667%
    }
    .col-md-7{
        width:58.33333333%
    }
    .col-md-6{
        width:50%
    }
    .col-md-5{
        width:41.66666667%
    }
    .col-md-4{
        width:33.33333333%
    }
    .col-md-3{
        width:25%
    }
    .col-md-2{
        width:16.66666667%
    }
    .col-md-1{
        width:8.33333333%
    }
    .col-md-pull-12{
        right:100%
    }
    .col-md-pull-11{
        right:91.66666667%
    }
    .col-md-pull-10{
        right:83.33333333%
    }
    .col-md-pull-9{
        right:75%
    }
    .col-md-pull-8{
        right:66.66666667%
    }
    .col-md-pull-7{
        right:58.33333333%
    }
    .col-md-pull-6{
        right:50%
    }
    .col-md-pull-5{
        right:41.66666667%
    }
    .col-md-pull-4{
        right:33.33333333%
    }
    .col-md-pull-3{
        right:25%
    }
    .col-md-pull-2{
        right:16.66666667%
    }
    .col-md-pull-1{
        right:8.33333333%
    }
    .col-md-pull-0{
        right:auto
    }
    .col-md-push-12{
        left:100%
    }
    .col-md-push-11{
        left:91.66666667%
    }
    .col-md-push-10{
        left:83.33333333%
    }
    .col-md-push-9{
        left:75%
    }
    .col-md-push-8{
        left:66.66666667%
    }
    .col-md-push-7{
        left:58.33333333%
    }
    .col-md-push-6{
        left:50%
    }
    .col-md-push-5{
        left:41.66666667%
    }
    .col-md-push-4{
        left:33.33333333%
    }
    .col-md-push-3{
        left:25%
    }
    .col-md-push-2{
        left:16.66666667%
    }
    .col-md-push-1{
        left:8.33333333%
    }
    .col-md-push-0{
        left:auto
    }
    .col-md-offset-12{
        margin-left:100%
    }
    .col-md-offset-11{
        margin-left:91.66666667%
    }
    .col-md-offset-10{
        margin-left:83.33333333%
    }
    .col-md-offset-9{
        margin-left:75%
    }
    .col-md-offset-8{
        margin-left:66.66666667%
    }
    .col-md-offset-7{
        margin-left:58.33333333%
    }
    .col-md-offset-6{
        margin-left:50%
    }
    .col-md-offset-5{
        margin-left:41.66666667%
    }
    .col-md-offset-4{
        margin-left:33.33333333%
    }
    .col-md-offset-3{
        margin-left:25%
    }
    .col-md-offset-2{
        margin-left:16.66666667%
    }
    .col-md-offset-1{
        margin-left:8.33333333%
    }
    .col-md-offset-0{
        margin-left:0
    }
}
@media (min-width:1200px){
    .col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{
        float:left
    }
    .col-lg-12{
        width:100%
    }
    .col-lg-11{
        width:91.66666667%
    }
    .col-lg-10{
        width:83.33333333%
    }
    .col-lg-9{
        width:75%
    }
    .col-lg-8{
        width:66.66666667%
    }
    .col-lg-7{
        width:58.33333333%
    }
    .col-lg-6{
        width:50%
    }
    .col-lg-5{
        width:41.66666667%
    }
    .col-lg-4{
        width:33.33333333%
    }
    .col-lg-3{
        width:25%
    }
    .col-lg-2{
        width:16.66666667%
    }
    .col-lg-1{
        width:8.33333333%
    }
    .col-lg-pull-12{
        right:100%
    }
    .col-lg-pull-11{
        right:91.66666667%
    }
    .col-lg-pull-10{
        right:83.33333333%
    }
    .col-lg-pull-9{
        right:75%
    }
    .col-lg-pull-8{
        right:66.66666667%
    }
    .col-lg-pull-7{
        right:58.33333333%
    }
    .col-lg-pull-6{
        right:50%
    }
    .col-lg-pull-5{
        right:41.66666667%
    }
    .col-lg-pull-4{
        right:33.33333333%
    }
    .col-lg-pull-3{
        right:25%
    }
    .col-lg-pull-2{
        right:16.66666667%
    }
    .col-lg-pull-1{
        right:8.33333333%
    }
    .col-lg-pull-0{
        right:auto
    }
    .col-lg-push-12{
        left:100%
    }
    .col-lg-push-11{
        left:91.66666667%
    }
    .col-lg-push-10{
        left:83.33333333%
    }
    .col-lg-push-9{
        left:75%
    }
    .col-lg-push-8{
        left:66.66666667%
    }
    .col-lg-push-7{
        left:58.33333333%
    }
    .col-lg-push-6{
        left:50%
    }
    .col-lg-push-5{
        left:41.66666667%
    }
    .col-lg-push-4{
        left:33.33333333%
    }
    .col-lg-push-3{
        left:25%
    }
    .col-lg-push-2{
        left:16.66666667%
    }
    .col-lg-push-1{
        left:8.33333333%
    }
    .col-lg-push-0{
        left:auto
    }
    .col-lg-offset-12{
        margin-left:100%
    }
    .col-lg-offset-11{
        margin-left:91.66666667%
    }
    .col-lg-offset-10{
        margin-left:83.33333333%
    }
    .col-lg-offset-9{
        margin-left:75%
    }
    .col-lg-offset-8{
        margin-left:66.66666667%
    }
    .col-lg-offset-7{
        margin-left:58.33333333%
    }
    .col-lg-offset-6{
        margin-left:50%
    }
    .col-lg-offset-5{
        margin-left:41.66666667%
    }
    .col-lg-offset-4{
        margin-left:33.33333333%
    }
    .col-lg-offset-3{
        margin-left:25%
    }
    .col-lg-offset-2{
        margin-left:16.66666667%
    }
    .col-lg-offset-1{
        margin-left:8.33333333%
    }
    .col-lg-offset-0{
        margin-left:0
    }
}
fieldset{
    padding:0;
    margin:0;
    border:0;
    min-width:0
}
legend{
    display:block;
    width:100%;
    padding:0;
    margin-bottom:20px;
    font-size:21px;
    line-height:inherit;
    color:#333;
    border:0;
    border-bottom:1px solid #e5e5e5
}
label{
    display:inline-block;
    max-width:100%;
    margin-bottom:5px;
    color:#fefefe;
    font-weight:300
}
input[type=file]{
    display:block
}
input[type=range]{
    display:block;
    width:100%
}
select[multiple],select[size]{
    height:auto
}
input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus{
    outline:-webkit-focus-ring-color auto 5px;
    outline-offset:-2px
}
output{
    display:block;
    padding-top:7px;
    font-size:14px;
    line-height:1.42857143;
    color:#555
}
.form-control{
    display:block;
    width:100%;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
.form-control:focus{
    border-color:#66afe9;
    outline:0;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
.form-control::-moz-placeholder{
    color:#999;
    opacity:1
}
.form-control:-ms-input-placeholder{
    color:#999
}
.form-control::-webkit-input-placeholder{
    color:#999
}
.form-control::-ms-expand{
    border:0;
    background-color:transparent
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control{
    background-color:#eee;
    opacity:1
}
.form-control[disabled],fieldset[disabled] .form-control{
    cursor:not-allowed
}
textarea.form-control{
    height:auto
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    input[type=date].form-control,input[type=datetime-local].form-control,input[type=month].form-control,input[type=time].form-control{
        line-height:34px
    }
    .input-group-sm input[type=date],.input-group-sm input[type=datetime-local],.input-group-sm input[type=month],.input-group-sm input[type=time],input[type=date].input-sm,input[type=datetime-local].input-sm,input[type=month].input-sm,input[type=time].input-sm{
        line-height:30px
    }
    .input-group-lg input[type=date],.input-group-lg input[type=datetime-local],.input-group-lg input[type=month],.input-group-lg input[type=time],input[type=date].input-lg,input[type=datetime-local].input-lg,input[type=month].input-lg,input[type=time].input-lg{
        line-height:46px
    }
}
.form-group{
    margin-bottom:15px
}
.checkbox,.radio{
    position:relative;
    display:block;
    margin-top:10px;
    margin-bottom:10px
}
.checkbox label,.radio label{
    min-height:20px;
    padding-left:20px;
    margin-bottom:0;
    font-weight:400;
    cursor:pointer
}
.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox],.radio input[type=radio],.radio-inline input[type=radio]{
    position:absolute;
    margin-left:-20px
}
.checkbox+.checkbox,.radio+.radio{
    margin-top:-5px
}
.checkbox-inline,.radio-inline{
    position:relative;
    display:inline-block;
    padding-left:20px;
    margin-bottom:0;
    vertical-align:middle;
    font-weight:400;
    cursor:pointer
}
.checkbox-inline+.checkbox-inline,.radio-inline+.radio-inline{
    margin-top:0;
    margin-left:10px
}
.checkbox-inline.disabled,.checkbox.disabled label,.radio-inline.disabled,.radio.disabled label,fieldset[disabled] .checkbox label,fieldset[disabled] .checkbox-inline,fieldset[disabled] .radio label,fieldset[disabled] .radio-inline,fieldset[disabled] input[type=checkbox],fieldset[disabled] input[type=radio],input[type=checkbox].disabled,input[type=checkbox][disabled],input[type=radio].disabled,input[type=radio][disabled]{
    cursor:not-allowed
}
.form-control-static{
    padding-top:7px;
    padding-bottom:7px;
    margin-bottom:0;
    min-height:34px
}
.form-control-static.input-lg,.form-control-static.input-sm{
    padding-left:0;
    padding-right:0
}
.input-sm{
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
select.input-sm{
    height:30px;
    line-height:30px
}
select[multiple].input-sm,textarea.input-sm{
    height:auto
}
.form-group-sm .form-control{
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
.form-group-sm select.form-control{
    height:30px;
    line-height:30px
}
.form-group-sm select[multiple].form-control,.form-group-sm textarea.form-control{
    height:auto
}
.form-group-sm .form-control-static{
    height:30px;
    min-height:32px;
    padding:6px 10px;
    font-size:12px;
    line-height:1.5
}
.input-lg{
    height:46px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:6px
}
select.input-lg{
    height:46px;
    line-height:46px
}
select[multiple].input-lg,textarea.input-lg{
    height:auto
}
.form-group-lg .form-control{
    height:46px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:6px
}
.form-group-lg select.form-control{
    height:46px;
    line-height:46px
}
.form-group-lg select[multiple].form-control,.form-group-lg textarea.form-control{
    height:auto
}
.form-group-lg .form-control-static{
    height:46px;
    min-height:38px;
    padding:11px 16px;
    font-size:18px;
    line-height:1.3333333
}
.has-feedback{
    position:relative
}
.has-feedback .form-control{
    padding-right:42.5px
}
.form-control-feedback{
    position:absolute;
    top:0;
    right:0;
    z-index:2;
    display:block;
    width:34px;
    height:34px;
    line-height:34px;
    text-align:center;
    pointer-events:none
}
.form-group-lg .form-control+.form-control-feedback,.input-group-lg+.form-control-feedback,.input-lg+.form-control-feedback{
    width:46px;
    height:46px;
    line-height:46px
}
.form-group-sm .form-control+.form-control-feedback,.input-group-sm+.form-control-feedback,.input-sm+.form-control-feedback{
    width:30px;
    height:30px;
    line-height:30px
}
.has-success .checkbox,.has-success .checkbox-inline,.has-success .control-label,.has-success .help-block,.has-success .radio,.has-success .radio-inline,.has-success.checkbox label,.has-success.checkbox-inline label,.has-success.radio label,.has-success.radio-inline label{
    color:#3c763d
}
.has-success .form-control{
    border-color:#3c763d;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.has-success .form-control:focus{
    border-color:#2b542c;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168
}
.has-success .input-group-addon{
    color:#3c763d;
    border-color:#3c763d;
    background-color:#dff0d8
}
.has-success .form-control-feedback{
    color:#3c763d
}
.has-warning .checkbox,.has-warning .checkbox-inline,.has-warning .control-label,.has-warning .help-block,.has-warning .radio,.has-warning .radio-inline,.has-warning.checkbox label,.has-warning.checkbox-inline label,.has-warning.radio label,.has-warning.radio-inline label{
    color:#8a6d3b
}
.has-warning .form-control{
    border-color:#8a6d3b;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.has-warning .form-control:focus{
    border-color:#66512c;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b
}
.has-warning .input-group-addon{
    color:#8a6d3b;
    border-color:#8a6d3b;
    background-color:#fcf8e3
}
.has-warning .form-control-feedback{
    color:#8a6d3b
}
.has-error .checkbox,.has-error .checkbox-inline,.has-error .control-label,.has-error .help-block,.has-error .radio,.has-error .radio-inline,.has-error.checkbox label,.has-error.checkbox-inline label,.has-error.radio label,.has-error.radio-inline label{
    color:#a94442
}
.has-error .form-control{
    border-color:#a94442;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075)
}
.has-error .form-control:focus{
    border-color:#843534;
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483
}
.has-error .input-group-addon{
    color:#a94442;
    border-color:#a94442;
    background-color:#f2dede
}
.has-error .form-control-feedback{
    color:#a94442
}
.has-feedback label~.form-control-feedback{
    top:25px
}
.has-feedback label.sr-only~.form-control-feedback{
    top:0
}
.help-block{
    display:block;
    margin-top:5px;
    margin-bottom:10px;
    color:#737373
}
.form-horizontal .checkbox,.form-horizontal .checkbox-inline,.form-horizontal .radio,.form-horizontal .radio-inline{
    margin-top:0;
    margin-bottom:0;
    padding-top:7px
}
.form-horizontal .checkbox,.form-horizontal .radio{
    min-height:27px
}
.form-horizontal .form-group{
    margin-left:-15px;
    margin-right:-15px
}
.form-horizontal .has-feedback .form-control-feedback{
    right:15px
}
@media (min-width:768px){
    .form-inline .form-group{
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .form-control{
        display:inline-block;
        width:auto;
        vertical-align:middle
    }
    .form-inline .form-control-static{
        display:inline-block
    }
    .form-inline .input-group{
        display:inline-table;
        vertical-align:middle
    }
    .form-inline .input-group .form-control,.form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn{
        width:auto
    }
    .form-inline .input-group>.form-control{
        width:100%
    }
    .form-inline .control-label{
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .checkbox,.form-inline .radio{
        display:inline-block;
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle
    }
    .form-inline .checkbox label,.form-inline .radio label{
        padding-left:0
    }
    .form-inline .checkbox input[type=checkbox],.form-inline .radio input[type=radio]{
        position:relative;
        margin-left:0
    }
    .form-inline .has-feedback .form-control-feedback{
        top:0
    }
    .form-horizontal .control-label{
        text-align:right;
        margin-bottom:0;
        padding-top:7px
    }
    .form-horizontal .form-group-lg .control-label{
        padding-top:11px;
        font-size:18px
    }
    .form-horizontal .form-group-sm .control-label{
        padding-top:6px;
        font-size:12px
    }
}
.fade{
    opacity:0;
    transition:opacity .15s linear
}
.fade.in{
    opacity:1
}
.collapse{
    display:none
}
.collapse.in{
    display:block
}
tr.collapse.in{
    display:table-row
}
tbody.collapse.in{
    display:table-row-group
}
.collapsing{
    position:relative;
    height:0;
    overflow:hidden;
    transition-property:height,visibility;
    transition-duration:.35s;
    transition-timing-function:ease
}
.caret{
    display:inline-block;
    width:0;
    height:0;
    margin-left:2px;
    vertical-align:middle;
    border-top:4px dashed;
    border-right:4px solid transparent;
    border-left:4px solid transparent
}
.dropdown,.dropup{
    position:relative
}
.dropdown-toggle:focus{
    outline:0
}


/*########################*/
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*######################*/










.open>.dropdown-menu{
    display:block
}
.open>a{
    outline:0
}
.dropdown-menu-right{
    left:auto;
    right:0
}
.dropdown-menu-left{
    left:0;
    right:auto
}
.dropdown-header{
    display:block;
    padding:3px 20px;
    font-size:12px;
    line-height:1.42857143;
    color:#777;
    white-space:nowrap
}
.dropdown-backdrop{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    z-index:990
}
.pull-right>.dropdown-menu{
    right:0;
    left:auto
}
.dropup .caret,.navbar-fixed-bottom .dropdown .caret{
    border-top:0;
    border-bottom:4px dashed;
    content:""
}
.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{
    top:auto;
    bottom:100%;
    margin-bottom:2px
}
.input-group{
    position:relative;
    display:table;
    border-collapse:separate
}
.input-group[class*=col-]{
    float:none;
    padding-left:0;
    padding-right:0
}
.input-group .form-control{
    position:relative;
    z-index:2;
    float:left;
    width:100%;
    margin-bottom:0
}
.input-group .form-control:focus{
    z-index:3
}
.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn{
    height:46px;
    padding:10px 16px;
    font-size:18px;
    line-height:1.3333333;
    border-radius:6px
}
select.input-group-lg>.form-control,select.input-group-lg>.input-group-addon,select.input-group-lg>.input-group-btn>.btn{
    height:46px;
    line-height:46px
}
select[multiple].input-group-lg>.form-control,select[multiple].input-group-lg>.input-group-addon,select[multiple].input-group-lg>.input-group-btn>.btn,textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn{
    height:auto
}
.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn{
    height:30px;
    padding:5px 10px;
    font-size:12px;
    line-height:1.5;
    border-radius:3px
}
select.input-group-sm>.form-control,select.input-group-sm>.input-group-addon,select.input-group-sm>.input-group-btn>.btn{
    height:30px;
    line-height:30px
}
select[multiple].input-group-sm>.form-control,select[multiple].input-group-sm>.input-group-addon,select[multiple].input-group-sm>.input-group-btn>.btn,textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn{
    height:auto
}
.input-group .form-control,.input-group-addon,.input-group-btn{
    display:table-cell
}
.input-group .form-control:not(:first-child):not(:last-child),.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child){
    border-radius:0
}
.input-group-addon,.input-group-btn{
    width:1%;
    white-space:nowrap;
    vertical-align:middle
}
.input-group-addon{
    padding:6px 12px;
    font-size:14px;
    font-weight:400;
    line-height:1;
    text-align:center;
    border-radius:4px
}
.input-group-addon.input-sm{
    padding:5px 10px;
    font-size:12px;
    border-radius:3px
}
.input-group-addon.input-lg{
    padding:10px 16px;
    font-size:18px;
    border-radius:6px
}
.input-group-addon input[type=checkbox],.input-group-addon input[type=radio]{
    margin-top:0
}
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn-group:not(:last-child)>.btn,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius:0;
    border-top-right-radius:0
}
.input-group-addon:first-child{
    border-right:0
}
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:first-child>.btn-group:not(:first-child)>.btn,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle{
    border-bottom-left-radius:0;
    border-top-left-radius:0
}
.input-group-addon:last-child{
    border-left:0
}
.input-group-btn{
    position:relative;
    font-size:0;
    white-space:nowrap
}
.input-group-btn>.btn{
    position:relative
}
.input-group-btn>.btn+.btn{
    margin-left:-1px
}
.input-group-btn>.btn:active,.input-group-btn>.btn:focus,.input-group-btn>.btn:hover{
    z-index:2
}
.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{
    margin-right:-1px
}
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{
    z-index:2;
    margin-left:-1px
}
.nav{
    margin-bottom:0;
    padding-left:0;
    list-style:none
}
.nav>li{
    position:relative;
    display:block
}
.nav>li>a{
    position:relative;
    display:block;
    padding:0 1rem
}
.nav>li>a:focus,.nav>li>a:hover{
    text-decoration:none;
    background-color:#eee
}
.nav>li.disabled>a{
    color:#777
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{
    color:#777;
    text-decoration:none;
    background-color:transparent;
    cursor:not-allowed
}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{
    background-color:#eee;
    border-color:#3994e6
}
.nav .nav-divider{
    height:1px;
    margin:9px 0;
    overflow:hidden;
    background-color:#e5e5e5
}
.nav>li>a>img{
    max-width:none
}
.nav-tabs{
    border-bottom:1px solid #ddd
}
.nav-tabs>li{
    float:left;
    margin-bottom:-1px
}
.nav-tabs>li>a{
    margin-right:2px;
    line-height:1.42857143;
    border:1px solid transparent;
    border-radius:4px 4px 0 0
}
.nav-tabs>li>a:hover{
    border-color:#eee #eee #ddd
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
    color:#555;
    background-color:#fff;
    border:1px solid #ddd;
    border-bottom-color:transparent;
    cursor:default
}
.nav-tabs.nav-justified{
    width:100%;
    border-bottom:0
}
.nav-tabs.nav-justified>li{
    float:none
}
.nav-tabs.nav-justified>li>a{
    text-align:center;
    margin-bottom:5px;
    margin-right:0;
    border-radius:4px
}
.nav-tabs.nav-justified>.dropdown .dropdown-menu{
    top:auto;
    left:auto
}
.nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{
    border:1px solid #ddd
}
.nav-pills>li{
    float:left
}
.nav-pills>li>a{
    border-radius:4px
}
.nav-pills>li+li{
    margin-left:2px
}
.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{
    color:#fff;
    background-color:#3994e6
}
.nav-stacked>li{
    float:none
}
.nav-stacked>li+li{
    margin-top:2px;
    margin-left:0
}
.nav-justified{
    width:100%
}
.nav-justified>li{
    float:none
}
.nav-justified>li>a{
    text-align:center;
    margin-bottom:5px
}
.nav-justified>.dropdown .dropdown-menu{
    top:auto;
    left:auto
}
@media (min-width:768px){
    .navbar-right .dropdown-menu{
        left:auto;
        right:0
    }
    .navbar-right .dropdown-menu-left{
        left:0;
        right:auto
    }
    .nav-tabs.nav-justified>li{
        display:table-cell;
        width:1%
    }
    .nav-tabs.nav-justified>li>a{
        margin-bottom:0;
        border-bottom:1px solid #ddd;
        border-radius:4px 4px 0 0
    }
    .nav-tabs.nav-justified>.active>a,.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{
        border-bottom-color:#fff
    }
    .nav-justified>li{
        display:table-cell;
        width:1%
    }
    .nav-justified>li>a{
        margin-bottom:0
    }
}
.nav-tabs-justified{
    border-bottom:0
}
.nav-tabs-justified>li>a{
    margin-right:0;
    border-radius:4px
}
.nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{
    border:1px solid #ddd
}
@media (min-width:768px){
    .nav-tabs-justified>li>a{
        border-bottom:1px solid #ddd;
        border-radius:4px 4px 0 0
    }
    .nav-tabs-justified>.active>a,.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{
        border-bottom-color:#fff
    }
}
.tab-content>.tab-pane{
    display:none
}
.tab-content>.active{
    display:block
}
.nav-tabs .dropdown-menu{
    margin-top:-1px;
    border-top-right-radius:0;
    border-top-left-radius:0
}
.navbar{
    position:relative;
    min-height:7.5rem;
    margin-bottom:20px;
    border:1px solid transparent
}
.navbar-collapse{
    overflow-x:visible;
    padding-right:15px;
    padding-left:15px;
    border-top:1px solid transparent;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling:touch
}
.navbar-collapse.in{
    overflow-y:auto
}
.navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{
    max-height:340px
}
@media (max-device-width:480px) and (orientation:landscape){
    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse{
        max-height:200px
    }
}
.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{
    margin-right:-15px;
    margin-left:-15px
}
@media (min-width:768px){
    .navbar{
        border-radius:4px
    }
    .navbar-header{
        float:left
    }
    .navbar-collapse{
        width:auto;
        border-top:0;
        box-shadow:none
    }
    .navbar-collapse.collapse{
        display:block!important;
        height:auto!important;
        padding-bottom:0;
        overflow:visible!important
    }
    .navbar-collapse.in{
        overflow-y:visible
    }
    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse{
        padding-left:0;
        padding-right:0
    }
    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header{
        margin-right:0;
        margin-left:0
    }
    .navbar-static-top{
        border-radius:0
    }
}
.navbar-static-top{
    z-index:1000;
    border-width:0 0 1px
}
.navbar-fixed-bottom,.navbar-fixed-top{
    position:fixed;
    right:0;
    left:0;
    z-index:1030
}
.navbar-fixed-top{
    top:0;
    border-width:0 0 1px
}
.navbar-fixed-bottom{
    bottom:0;
    margin-bottom:0;
    border-width:1px 0 0
}
.navbar-brand{
    float:left;
    font-size:18px;
    line-height:20px;
    height:7.5rem
}
.navbar-brand:focus,.navbar-brand:hover{
    text-decoration:none
}
.navbar-brand>img{
    display:block
}
@media (min-width:768px){
    .navbar-fixed-bottom,.navbar-fixed-top{
        border-radius:0
    }
    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand{
        margin-left:-15px
    }
    .navbar-toggle{
        display:none
    }
}
.navbar-toggle{
    position:relative;
    float:right;
    margin-right:15px;
    padding:9px 10px;
    margin-top:-13.25rem;
    margin-bottom:-13.25rem;
    background-color:transparent;
    background-image:none;
    border:1px solid transparent;
    border-radius:4px
}
.navbar-toggle:focus{
    outline:0
}
.navbar-toggle .icon-bar{
    display:block;
    width:22px;
    height:2px;
    border-radius:1px
}
.navbar-toggle .icon-bar+.icon-bar{
    margin-top:4px
}
.navbar-nav{
    margin:-3.125rem -15px
}
.navbar-nav>li>a{
    padding-top:10px;
    padding-bottom:10px;
    line-height:20px
}
@media (max-width:767px){
    .navbar-nav .open .dropdown-menu{
        position:static;
        float:none;
        width:auto;
        margin-top:0;
        background-color:transparent;
        border:0;
        box-shadow:none
    }
    .navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a{
        padding:5px 15px 5px 25px
    }
    .navbar-nav .open .dropdown-menu>li>a{
        line-height:20px
    }
    .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{
        background-image:none
    }
}
@media (min-width:768px){
    .navbar-nav{
        float:left;
        margin:0
    }
    .navbar-nav>li{
        float:left
    }
    .navbar-form .form-group{
        display:inline-block;
        margin-bottom:0;
        vertical-align:middle
    }
    .navbar-form .form-control{
        display:inline-block;
        width:auto;
        vertical-align:middle
    }
    .navbar-form .form-control-static{
        display:inline-block
    }
    .navbar-form .input-group{
        display:inline-table;
        vertical-align:middle
    }
    .navbar-form .input-group .form-control,.navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn{
        width:auto
    }
    .navbar-form .input-group>.form-control{
        width:100%
    }
    .navbar-form .control-label{
        margin-bottom:0;
        vertical-align:middle
    }
    .navbar-form .checkbox,.navbar-form .radio{
        display:inline-block;
        margin-top:0;
        margin-bottom:0;
        vertical-align:middle
    }
    .navbar-form .checkbox label,.navbar-form .radio label{
        padding-left:0
    }
    .navbar-form .checkbox input[type=checkbox],.navbar-form .radio input[type=radio]{
        position:relative;
        margin-left:0
    }
    .navbar-form .has-feedback .form-control-feedback{
        top:0
    }
}
.navbar-form{
    padding:10px 15px;
    border-top:1px solid transparent;
    border-bottom:1px solid transparent;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    margin:-13.25rem -15px
}
@media (max-width:767px){
    .navbar-form .form-group{
        margin-bottom:5px
    }
    .navbar-form .form-group:last-child{
        margin-bottom:0
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color:#fefefe
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color:#ebb706;
        background-color:transparent
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{
        color:#555;
        background-color:#e7e7e7
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{
        color:#ccc;
        background-color:transparent
    }
}
@media (min-width:768px){
    .navbar-form{
        width:auto;
        border:0;
        margin-left:0;
        margin-right:0;
        padding-top:0;
        padding-bottom:0;
        box-shadow:none
    }
    .navbar-text{
        float:left;
        margin-left:15px;
        margin-right:15px
    }
}
.navbar-nav>li>.dropdown-menu{
    margin-top:0;
    border-top-right-radius:0;
    border-top-left-radius:0
}
.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu{
    margin-bottom:0;
    border-radius:4px 4px 0 0
}
.navbar-btn{
    margin-top:-13.25rem;
    margin-bottom:-13.25rem
}
.navbar-btn.btn-sm{
    margin-top:-11.25rem;
    margin-bottom:-11.25rem
}
.navbar-btn.btn-xs{
    margin-top:-7.25rem;
    margin-bottom:-7.25rem
}
.navbar-text{
    margin-top:-6.25rem;
    margin-bottom:-6.25rem
}
@media (min-width:768px){
    .navbar-left{
        float:left!important
    }
    .navbar-right{
        float:right!important;
        margin-right:-15px
    }
    .navbar-right~.navbar-right{
        margin-right:0
    }
}
.navbar-default{
    background-color:#f8f8f8;
    border-color:0
}
.navbar-default .navbar-brand{
    color:#fefefe
}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
    color:#e5e5e5;
    background-color:transparent
}
.navbar-default .navbar-text{
    color:#777
}
.navbar-default .navbar-nav>li>a{
    color:#fefefe
}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
    color:#ebb706;
    background-color:transparent
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
    color:#555;
    background-color:#e7e7e7
}
.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{
    color:#ccc;
    background-color:transparent
}
.navbar-default .navbar-toggle{
    border-color:transparent
}
.navbar-default .navbar-toggle .icon-bar,.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
    background-color:transparent
}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{
    border-color:0
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
    background-color:#e7e7e7;
    color:#555
}
.navbar-default .navbar-link{
    color:#fefefe
}
.navbar-default .navbar-link:hover{
    color:#ebb706
}
.navbar-default .btn-link{
    color:#fefefe
}
.navbar-default .btn-link:focus,.navbar-default .btn-link:hover{
    color:#ebb706
}
.navbar-default .btn-link[disabled]:focus,.navbar-default .btn-link[disabled]:hover,fieldset[disabled] .navbar-default .btn-link:focus,fieldset[disabled] .navbar-default .btn-link:hover{
    color:#ccc
}
.navbar-inverse{
    background-color:#222;
    border-color:#080808
}
.navbar-inverse .navbar-brand{
    color:#9d9d9d
}
.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover{
    color:#fff;
    background-color:transparent
}
.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text{
    color:#9d9d9d
}
.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{
    color:#fff;
    background-color:transparent
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{
    color:#fff;
    background-color:#080808
}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover{
    color:#444;
    background-color:transparent
}
.navbar-inverse .navbar-toggle{
    border-color:#333
}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{
    background-color:#333
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color:#fff
}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{
    border-color:#101010
}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{
    background-color:#080808;
    color:#fff
}
@media (max-width:767px){
    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header{
        border-color:#080808
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider{
        background-color:#080808
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
        color:#9d9d9d
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
        color:#fff;
        background-color:transparent
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{
        color:#fff;
        background-color:#080808
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{
        color:#444;
        background-color:transparent
    }
}
.navbar-inverse .navbar-link{
    color:#9d9d9d
}
.navbar-inverse .navbar-link:hover{
    color:#fff
}
.navbar-inverse .btn-link{
    color:#9d9d9d
}
.navbar-inverse .btn-link:focus,.navbar-inverse .btn-link:hover{
    color:#fff
}
.navbar-inverse .btn-link[disabled]:focus,.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:focus,fieldset[disabled] .navbar-inverse .btn-link:hover{
    color:#444
}
.alert{
    padding:1.5rem;
    margin-bottom:20px;
    border:1px solid transparent;
    border-radius:4px
}
.alert h4{
    margin-top:0;
    color:inherit
}
.alert .alert-link{
    font-weight:700
}
.alert>p,.alert>ul{
    margin-bottom:0
}
.alert>p+p{
    margin-top:5px
}
.alert-dismissable,.alert-dismissible{
    padding-right:21.5rem
}
.alert-dismissable .close,.alert-dismissible .close{
    position:relative;
    top:-2px;
    right:-21px;
    color:inherit
}
.alert-success{
    background-color:#2787df;
    border-color:#2787df;
    color:#fefefe
}
.alert-success hr{
    border-top-color:#1f7ace
}
.alert-success .alert-link{
    color:#e5e5e5
}
.alert-info{
    background-color:#d9edf7;
    border-color:#bce8f1;
    color:#31708f
}
.alert-info hr{
    border-top-color:#a6e1ec
}
.alert-info .alert-link{
    color:#245269
}
.alert-warning{
    background-color:#fcf8e3;
    border-color:#faebcc;
    color:#8a6d3b
}
.alert-warning hr{
    border-top-color:#f7e1b5
}
.alert-warning .alert-link{
    color:#66512c
}
.alert-danger{
    background-color:#d9534f;
    border-color:#d9534f;
    color:#fefefe
}
.alert-danger hr{
    border-top-color:#d43f3a
}
.alert-danger .alert-link{
    color:#e5e5e5
}
@keyframes progress-bar-stripes{
    from{
        background-position:40px 0
    }
    to{
        background-position:0 0
    }
}
.progress{
    overflow:hidden;
    height:20px;
    margin-bottom:20px;
    background-color:#fff;
    border-radius:5rem;
    box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}
.progress-bar{
    float:left;
    width:0%;
    height:100%;
    font-size:12px;
    line-height:20px;
    color:#fff;
    text-align:center;
    background-color:#ebb706;
    box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
    transition:width .6s ease
}
.progress-bar-striped,.progress-striped .progress-bar{
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size:40px 40px
}
.progress-bar.active,.progress.active .progress-bar{
    animation:2s linear infinite progress-bar-stripes
}
.progress-bar-success{
    background-color:#5cb85c
}
.progress-striped .progress-bar-success{
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}
.progress-bar-info{
    background-color:#5bc0de
}
.progress-striped .progress-bar-info{
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}
.progress-bar-warning{
    background-color:#f0ad4e
}
.progress-striped .progress-bar-warning{
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}
.progress-bar-danger{
    background-color:#d9534f
}
.progress-striped .progress-bar-danger{
    background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent)
}
.modal-open{
    overflow:hidden
}
.modal{
    display:none;
    overflow:hidden;
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    z-index:1050;
    -webkit-overflow-scrolling:touch;
    outline:0
}
.modal.fade .modal-dialog{
    transform:translate(0,-25%);
    transition:transform .3s ease-out
}
.modal.in .modal-dialog{
    transform:translate(0,0)
}
.modal-open .modal{
    overflow-x:hidden;
    overflow-y:auto
}
.modal-dialog{
    position:relative;
    width:auto;
    margin:10px
}
.modal-content{
    position:relative;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    box-shadow:0 3px 9px rgba(0,0,0,.5);
    background-clip:padding-box;
    outline:0
}
.modal-backdrop{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1040;
    background-color:#000
}
.modal-backdrop.fade{
    opacity:0
}
.modal-backdrop.in{
    opacity:.5
}
.modal-header{
    padding:15px;
    border-bottom:1px solid #e5e5e5
}
.modal-header .close{
    margin-top:-2px
}
.modal-title{
    margin:0;
    line-height:1.42857143
}
.modal-body{
    position:relative;
    padding:15px
}
.modal-footer{
    padding:15px;
    border-top:1px solid #e5e5e5
}
.modal-footer .btn+.btn{
    margin-left:5px;
    margin-bottom:0
}
.modal-footer .btn-group .btn+.btn{
    margin-left:-1px
}
.modal-footer .btn-block+.btn-block{
    margin-left:0
}
.modal-scrollbar-measure{
    position:absolute;
    top:-9999px;
    width:50px;
    height:50px;
    overflow:scroll
}
@media (min-width:768px){
    .modal-dialog{
        width:600px;
        margin:30px auto
    }
    .modal-content{
        box-shadow:0 5px 15px rgba(0,0,0,.5)
    }
    .modal-sm{
        width:300px
    }
}
@media (min-width:992px){
    .modal-lg{
        width:900px
    }
}
.tooltip{
    position:absolute;
    z-index:1070;
    display:block;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style:normal;
    font-weight:400;
    letter-spacing:normal;
    line-break:auto;
    line-height:1.42857143;
    text-align:left;
    text-align:start;
    text-decoration:none;
    text-shadow:none;
    text-transform:none;
    white-space:normal;
    word-break:normal;
    word-spacing:normal;
    word-wrap:normal;
    font-size:12px;
    opacity:0
}
.tooltip.in{
    opacity:1
}
.tooltip.top{
    margin-top:-3px;
    padding:5px 0
}
.tooltip.right{
    margin-left:3px;
    padding:0 5px
}
.tooltip.bottom{
    margin-top:3px;
    padding:5px 0
}
.tooltip.left{
    margin-left:-3px;
    padding:0 5px
}
.tooltip-inner{
    max-width:500px;
    padding:3px 8px;
    color:#000;
    text-align:center;
    background-color:#fff;
    border-radius:4px
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-width:5px 5px 0;
    border-top-color:#fff
}
.tooltip.top-left .tooltip-arrow{
    bottom:0;
    right:5px;
    margin-bottom:-5px;
    border-width:5px 5px 0;
    border-top-color:#fff
}
.tooltip.top-right .tooltip-arrow{
    bottom:0;
    left:5px;
    margin-bottom:-5px;
    border-width:5px 5px 0;
    border-top-color:#fff
}
.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-width:5px 5px 5px 0;
    border-right-color:#fff
}
.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-width:5px 0 5px 5px;
    border-left-color:#fff
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#fff
}
.tooltip.bottom-left .tooltip-arrow{
    top:0;
    right:5px;
    margin-top:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#fff
}
.tooltip.bottom-right .tooltip-arrow{
    top:0;
    left:5px;
    margin-top:-5px;
    border-width:0 5px 5px;
    border-bottom-color:#fff
}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before,.form-horizontal .form-group:after,.form-horizontal .form-group:before,.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before{
    content:" ";
    display:table
}
.clearfix:after,.container-fluid:after,.container:after,.form-horizontal .form-group:after,.modal-footer:after,.modal-header:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{
    clear:both
}
.center-block{
    display:block;
    margin-left:auto;
    margin-right:auto
}
.pull-right{
    float:right!important
}
.pull-left{
    float:left!important
}
.hide{
    display:none!important
}
.show{
    display:block!important
}
.invisible{
    visibility:hidden
}
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background-color:transparent;
    border:0
}
.hidden{
    display:none!important
}
.affix{
    position:fixed
}
@-ms-viewport{
    width:device-width
}
.visible-lg,.visible-lg-block,.visible-lg-inline,.visible-lg-inline-block,.visible-md,.visible-md-block,.visible-md-inline,.visible-md-inline-block,.visible-sm,.visible-sm-block,.visible-sm-inline,.visible-sm-inline-block,.visible-xs,.visible-xs-block,.visible-xs-inline,.visible-xs-inline-block{
    display:none!important
}
@media (max-width:767px){
    .visible-xs{
        display:block!important
    }
    table.visible-xs{
        display:table!important
    }
    tr.visible-xs{
        display:table-row!important
    }
    td.visible-xs,th.visible-xs{
        display:table-cell!important
    }
    .visible-xs-block{
        display:block!important
    }
    .visible-xs-inline{
        display:inline!important
    }
    .visible-xs-inline-block{
        display:inline-block!important
    }
}
@media (min-width:768px) and (max-width:991px){
    .visible-sm{
        display:block!important
    }
    table.visible-sm{
        display:table!important
    }
    tr.visible-sm{
        display:table-row!important
    }
    td.visible-sm,th.visible-sm{
        display:table-cell!important
    }
    .visible-sm-block{
        display:block!important
    }
    .visible-sm-inline{
        display:inline!important
    }
    .visible-sm-inline-block{
        display:inline-block!important
    }
}
@media (min-width:992px) and (max-width:1199px){
    .visible-md{
        display:block!important
    }
    table.visible-md{
        display:table!important
    }
    tr.visible-md{
        display:table-row!important
    }
    td.visible-md,th.visible-md{
        display:table-cell!important
    }
    .visible-md-block{
        display:block!important
    }
    .visible-md-inline{
        display:inline!important
    }
    .visible-md-inline-block{
        display:inline-block!important
    }
}
@media (min-width:1200px){
    .visible-lg{
        display:block!important
    }
    table.visible-lg{
        display:table!important
    }
    tr.visible-lg{
        display:table-row!important
    }
    td.visible-lg,th.visible-lg{
        display:table-cell!important
    }
    .visible-lg-block{
        display:block!important
    }
    .visible-lg-inline{
        display:inline!important
    }
    .visible-lg-inline-block{
        display:inline-block!important
    }
    .hidden-lg{
        display:none!important
    }
}
@media (max-width:767px){
    .hidden-xs{
        display:none!important
    }
}
@media (min-width:768px) and (max-width:991px){
    .hidden-sm{
        display:none!important
    }
}
@media (min-width:992px) and (max-width:1199px){
    .hidden-md{
        display:none!important
    }
}
.visible-print{
    display:none!important
}
@media print{
    .visible-print{
        display:block!important
    }
    table.visible-print{
        display:table!important
    }
    tr.visible-print{
        display:table-row!important
    }
    td.visible-print,th.visible-print{
        display:table-cell!important
    }
}
.visible-print-block{
    display:none!important
}
@media print{
    .visible-print-block{
        display:block!important
    }
}
.visible-print-inline{
    display:none!important
}
@media print{
    .visible-print-inline{
        display:inline!important
    }
}
.visible-print-inline-block{
    display:none!important
}
@media print{
    .visible-print-inline-block{
        display:inline-block!important
    }
    .hidden-print{
        display:none!important
    }
}
.content-gradient .h3,.content-page-top .h3,.content-transparent .h3{
    margin-bottom:2.8rem;
    margin-top:2.8rem
}
.content-gradient .h3,.content-gradient h3,.content-page-top .h3,.content-page-top h3,.content-transparent .h3,.content-transparent h3{
    color:#ebb706;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:3rem;
    font-weight:300
}
.content-page-top .h1,.content-page-top h1,.content-transparent .h1,.content-transparent h1{
    color:#ebb706;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:3rem;
    font-weight:700
}
.content-page-top h2,.content-transparent h2{
    color:#fefefe;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:2.3rem;
    font-weight:700
}
.content-page-top h2.skinny,.content-transparent h2.skinny{
    font-weight:500
}
.content-page-top p,.content-transparent p{
    color:#fefefe
}
.content-page-top{
    background:0 0;
    padding:10rem 0 0;
    text-align:center
}
.content-page-top .h1,.content-page-top h1{
    margin:1rem 0 0
}
.content-page-top p{
    margin:1rem 0 4rem
}
.content-page-top+.content-features{
    padding-bottom:3rem
}
.content-page-top.product-page-top{
    text-align:left
}
.content-page-top.product-page-top .h1,.content-page-top.product-page-top h1{
    margin:7rem 0 0
}
.content-page-top.product-page-top p{
    width:60%
}
.content-transparent{
    background:0 0;
    padding:3rem 0 6rem;
    text-align:center;
    color:#fefefe
}
.content-transparent h4{
    color:#7d7d7d;
    font-size:2.3rem;
    margin-top:2rem;
    text-align:center
}
.content-white{
    background:#fefefe;
    padding:3rem 0 6rem;
    text-align:center
}
.content-white h2{
    color:#333;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:2.3rem;
    font-weight:700;
    margin-bottom:3rem
}
.content-white p{
    color:#5c5c5c
}
.content-white .link{
    color:#2787df
}
.content-features{
    padding-bottom:0
}
.content-features h2{
    margin:2rem auto 3rem
}
.content-gradient{
    background: linear-gradient(225deg,#000070,#000010 100%);
    padding:3rem 0 6rem;
    text-align:center;
    color:#fefefe
}
.content-gradient h2{
    color:#fefefe;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:2.3rem;
    font-weight:700
}
.content-landing{
    margin:2rem 0;
    position:absolute;
    text-align:center;
    width:100%
}
.content-landing .container{
    background-color:#fefefe;
    padding:1.5rem 5rem 3rem
}
.content-landing h2{
    color:#333;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:2.3rem;
    font-weight:700;
    margin-bottom:3rem;
    margin-top:0
}
.content-landing p{
    color:#5c5c5c
}
.features-vertical{
    padding-bottom:5rem
}
.features-vertical .feature{
    color:#333;
    font-weight:700;
    height:20rem
}
.features-vertical .feature a,.features-vertical .feature p{
    font-weight:300
}
.features-vertical .feature p{
    height:6.5rem
}
.features-vertical>p{
    text-align:center
}
.features-horizontal{
    margin-bottom:3.5rem
}
.features-horizontal:last-of-type{
    margin-bottom:4rem
}
.features-horizontal img{
    display:inline-block;
    width:25%
}
.features-horizontal p{
    display:inline-block;
    width:65%;
    text-align:left;
    vertical-align:middle
}
.feature-overlay{
    background-color:#fefefe;
    border:1px solid #ebb706;
    border-radius:2px;
    height:100%;
    opacity:0;
    padding:1.5rem;
    position:absolute;
    text-align:left;
    top:-2rem;
    z-index:100
}
.feature-overlay:hover{
    opacity:1;
    transition:opacity .25s ease-in-out
}
.feature-overlay h4{
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    margin:0
}
.feature-overlay a{
    font-size:1.35rem;
    text-decoration:none
}
.feature-overlay .overlay-description{
    color:#5c5c5c;
    font-size:1.35rem;
    font-weight:300
}
.feature-overlay .overlay-link{
    text-align:right
}
@media only screen and (max-width:991px){
    div.content-page-top.product-page-top{
        padding-left:3rem;
        padding-right:3rem;
        text-align:center
    }
    div.content-page-top.product-page-top .h1,div.content-page-top.product-page-top h1{
        margin-top:2rem
    }
    div.content-page-top.product-page-top p{
        width:100%
    }
    .feature-overlay{
        left:50%;
        transform:translateX(-50%);
        width:80%
    }
}
@media only screen and (max-width:767px){
    .features-horizontal{
        margin-bottom:1rem
    }
    .features-horizontal .feature{
        margin-bottom:3rem
    }
    .features-horizontal:last-of-type{
        margin-bottom:0
    }
    .features-horizontal img{
        display:inline-block;
        width:15%
    }
}
@media only screen and (max-width:480px){
    .features-horizontal img{
        display:inline-block;
        width:25%
    }
}
.customers-row,.customers-top-row{
    height:7rem;
    position:relative
}
.customers-row{
    margin-top:3rem
}
.customer-column{
    height:100%
}
.customer{
    left:50%;
    position:absolute;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    width:100%
}
.customer-logo{
    display:block;
    height:auto;
    margin:0 auto;
    max-height:7rem;
    max-width:100%;
    min-height:0;
    width:auto
}
@media only screen and (max-width:767px){
    .customers-row,.customers-top-row{
        height:auto;
        margin-top:0
    }
    .customer{
        margin-top:2rem;
        position:relative;
        top:auto;
        transform:translateX(-50%) translateY(0)
    }
    .customer:last-of-type{
        margin-top:4rem
    }
}
.buyer-type{
    color:#5c5c5c;
    cursor:pointer;
    height:34rem;
    text-align:center
}
.buyer-type img{
    width:18rem
}
.buyer-type h3{
    color:#333;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:1.6rem;
    font-weight:700;
    margin-bottom:.5rem
}
.buyer-type p{
    font-size:1.35rem;
    margin-top:0;
    padding:0 15%
}
.buyer-type:hover{
    background-color:#efefef
}
.button-base,.button-base-no-extra-padding{
    border:0;
    border-radius:3px;
    color:#fefefe;
    cursor:pointer;
    display:inline-block;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    margin-bottom:1rem;
    transition:background-color .125s ease
}
.button-base-no-extra-padding:hover,.button-base:hover{
    text-decoration:none
}
.button-base{
    padding:.5rem 3rem
}
.button-base.button-disabled{
    background-color:#ccc;
    cursor:default;
    pointer-events:none
}
.button-base.button-disabled:hover{
    background-color:#ccc;
    cursor:default
}
.button-base-no-extra-padding{
    padding-left:.9rem;
    padding-right:.9rem;
    padding-top:.7rem
}
.button-glyphicon{
    margin-bottom:0
}
.button-blue{
    background-color:#2787df;
    color:#fefefe;
    margin:0 2rem
}
.button-blue:active{
    background-color:#206baa
}
.button-blue:hover{
    color:#fefefe;
    background-color:#3994e6
}
.button-blue:focus{
    color:#fefefe
}
.button-blue-outline{
    background-color:transparent;
    border:.1rem solid #2787df;
    color:#fefefe
}
.button-blue-outline:active{
    background-color:transparent
}
.button-blue-outline:hover{
    color:#fefefe;
    border:.1rem solid #3994e6
}
.button-blue-outline:focus{
    color:#fefefe
}
.button-black-text{
    color:#333
}
.button-black-text:focus,.button-black-text:hover{
    color:#0a0a0a
}
#create-account-log-out-button,.button-yellow{
    background-color:#ebb706;
    border:1px solid #ebb706;
    color:#fefefe;
    margin-top:.5rem;
    padding:.5rem 1.5rem
}
#create-account-log-out-button:active,.button-yellow:active{
    background-color:#e4a625
}
#create-account-log-out-button:focus,.button-yellow:focus{
    background-color:#ebb706
}
#create-account-log-out-button:hover,.button-yellow:hover{
    background-color:#e8ae09;
    color:#fefefe
}
#log-in-account-button,.button-transparent{
    background-color:transparent;
    border:1px solid #ebb706;
    color:#fefefe;
    margin-top:.5rem;
    padding:.5rem 1.5rem
}
#log-in-account-button:active,.button-transparent:active{
    background-color:transparent
}
#log-in-account-button:hover,.button-transparent:hover{
    color:#fefefe;
    background-color:rgba(0,0,0,.05)
}
.button-mobile{
    padding:1.5rem 0;
    width:12rem
}
.button-mobile:last-of-type{
    margin-left:3rem
}
.button-hero{
    box-shadow:.5rem .5rem 1rem 0 rgba(0,0,0,.5)
}
.button-gray{
    background-color:#7d7d7d;
    border:0;
    color:#333;
    font-size:1.35rem
}
.button-gray:active{
    background-color:#ccc
}
.button-gray:hover{
    color:#fefefe
}
.demo-step{
    margin:4rem 0 0;
    text-align:left
}
.demo-step span{
    color:#fefefe;
    font-weight:300
}
.fade-in{
    visibility:hidden
}
.modal-footer{
    border-top:#fefefe;
    margin-bottom:1rem;
    text-align:center
}
.modal-header{
    border-bottom:#fefefe
}
.modal{
    top:20%
}
.modal-content{
    border-color:transparent;
    text-align:center
}
.nav-category input[type=radio]:checked+label,.nav-category input[type=radio]:checked+label a{
    font-weight:700
}
.nav-category input[type=radio]:checked+label a:hover,.nav-category input[type=radio]:checked+label:hover{
    color:#0a0a0a
}
.nav-categories{
    background-color:#ebb706;
    overflow:hidden;
    overflow-style:-ms-autohiding-scrollbar;
    overflow-x:auto;
    padding:.25rem 2rem 2rem;
    white-space:nowrap
}
.has-categories .buyer-type-nav.active::after{
    border-color:transparent transparent #ebb706
}
.nav-category{
    display:inline-block;
    padding-right:6rem;
    text-align:center
}
.nav-category a,.nav-category label{
    color:#333;
    cursor:pointer;
    font-weight:300;
    margin-bottom:0
}
.nav-category input[type=radio]:checked+label::before{
    border-color:transparent transparent #fefefe;
    border-style:solid;
    border-width:0 15px 15px;
    bottom:-.6rem;
    content:"";
    display:block;
    height:0;
    left:40%;
    position:relative;
    top:4.5rem;
    width:0;
    z-index:1
}
.select-box{
    color:#0a0a0a;
    font-family:Helvetica,sans-serif;
    margin-top:-.3rem;
    padding:0;
    width:100%
}
.select-box button{
    background-color:#fefefe;
    border:0;
    border-radius:4px;
    font-size:1.6rem;
    overflow-x:hidden;
    padding:.4rem 2rem .4rem 0;
    width:100%
}
.select-box button:focus{
    border:2px solid #ebb706;
    padding:.2rem 1.8rem .2rem 0
}
.select-box ul{
    -webkit-overflow-scrolling:touch;
    background-color:#fefefe;
    cursor:pointer;
    font-size:1.6rem;
    left:-.1rem;
    max-height:20rem;
    min-width:calc(100%);
    overflow:scroll;
    top:-.3rem;
    width:calc(100% + .1rem)
}
.select-box ul.dropdown-menu{
    z-index:25000
}
.select-box ul li a:focus{
    background-color:#efefef;
    font-weight:700;
    outline:0
}
.select-box ul li a:hover{
    background-color:#efefef
}
.caret-holder{
    background-color:#2787df;
    border-radius:0 .3rem .3rem 0;
    height:100%;
    padding:.2rem .8rem;
    position:absolute;
    right:-.1rem;
    top:0
}
.caret-holder .caret{
    border-left:.8rem solid transparent;
    border-right:.8rem solid transparent;
    border-top:.8rem solid #fefefe;
    height:0;
    margin-left:0;
    vertical-align:middle;
    width:0
}
.button-group-toggle{
    margin-top:.5rem
}
.button-group-toggle .radio-toggle{
    display:none
}
.button-group-toggle .button-toggle{
    box-shadow:inset 0 .1rem .5rem 0 rgba(0,0,0,.25);
    background-color:#fefefe;
    color:#ccc;
    padding:.5rem 0;
    text-align:center;
    width:50%
}
.button-group-toggle .button-toggle.green{
    color:#357f3e;
    width:12rem
}
.button-group-toggle .button-toggle.right{
    border-radius:0 3px 3px 0;
    display:inline-block;
    margin-left:-.5rem
}
.button-group-toggle .button-toggle.left{
    border-radius:3px 0 0 3px
}
.button-group-toggle input[type=radio]:checked+label.button-toggle.green{
    background-color:#357f3e;
    box-shadow:none;
    color:#fefefe
}
.button-group-toggle input[type=radio]:checked+label.button-toggle.blue{
    box-shadow:inset 0 .1rem .5rem 0 rgba(0,0,0,.4);
    background-color:#2787df;
    color:#fefefe;
    transition:all .1s ease-in-out
}
.content-plans{
    padding-bottom:1rem
}
.content-plans h2{
    margin-bottom:0
}
.plans-grid{
    margin-top:4rem
}
.plan{
    border:1px solid #ccc;
    border-radius:3px;
    height:20rem;
    margin-bottom:3rem;
    padding:2.5rem 1rem
}
.plan p{
    font-size:1.2rem;
    margin:1rem 0
}
.plan p.long-title{
    margin-top:0
}
.plan p.free-info{
    left:50%;
    transform:translateX(-50%);
    bottom:3.5rem;
    position:absolute;
    width:20rem
}
.plan a{
    bottom:6rem;
    left:50%;
    position:absolute;
    transform:translateX(-62%);
    width:15rem
}
.plan .plan-lookups{
    font-size:3rem;
    font-weight:700;
    line-height:2.2rem
}
.plan .plan-price{
    color:#357f3e;
    display:block;
    font-size:2.8rem;
    font-weight:700;
    left:50%;
    position:absolute;
    top:9.5rem;
    transform:translateX(-50%)
}
.plan:hover{
    border:1px solid #ebb706
}
.breadcrumbs{
    display:block;
    margin:5rem auto;
    position:relative;
    width:calc((3rem * 3) + (32rem + 1rem))
}
.crumb{
    background-color:#efefef;
    border-radius:100%;
    color:#fefefe;
    display:inline-block;
    font-weight:700;
    height:3rem;
    margin:0 8rem;
    position:relative;
    transition:background-color .25s ease .4s,color .25s ease .4s;
    width:3rem
}
.crumb:first-of-type{
    margin-left:0
}
.crumb:nth-of-type(3){
    margin-right:0
}
.crumb span{
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    position:absolute
}
.crumb.completed{
    background-color:#2787df;
    color:#fefefe
}
.breadcrumb-progressbar{
    background-color:#efefef;
    height:1.2rem;
    left:50%;
    position:absolute;
    top:.9rem;
    transform:translateX(-50%);
    width:calc(100% - 3rem);
    z-index:-1
}
.breadcrumb-progress{
    background-color:#2787df;
    border-radius:.6rem;
    height:100%;
    transition:width .75s ease;
    width:0
}
.modal-free .crumb:nth-child(2) span{
    display:none
}
.text-right{
    text-align:right
}
.text-left{
    text-align:left
}
.gdpr{
    background-color:#ccc;
    bottom:0;
    display:none;
    font-size:1.35rem;
    padding:1rem 0;
    position:fixed;
    vertical-align:top;
    width:100%;
    z-index:100000000000
}
.gdpr .actions,.gdpr .copy,.gdpr .icon,.gdpr .text{
    display:inline-block
}
.gdpr .text{
    width:74%
}
.gdpr .icon{
    font-size:3rem;
    margin-right:1.5rem
}
.gdpr .copy{
    width:calc(100% - 8rem)
}
.gdpr .actions{
    text-align:right;
    width:25%
}
@media only screen and (max-width:991px){
    .gdpr .actions{
        display:block;
        text-align:center;
        width:auto
    }
    .gdpr .text{
        padding-bottom:1.5rem;
        width:auto
    }
}
@font-face{
    font-family:Montserrat;
    font-weight:100
}
body,html{
    max-width:100%;
    overflow-x:hidden
}
body{
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    font-size:1.6rem;
    font-weight:300;
    color:#333
}
@media all and (-ms-high-contrast:none){
    ::-ms-backdrop,body{
        background:#414141
    }
}
nav{
    border-bottom:0;
    width:100%
}
video{
    cursor:pointer
}
select{
    -webkit-appearance:menulist;
    -moz-appearance:menulist;
    appearance:menulist;
    background-color:#fefefe;
    margin-left:1.5rem;
    border-radius:3px;
    padding:.4rem 2rem
}
input,textarea{
    border:0;
    border-radius:3px;
    color:#333;
    font-family:Helvetica,sans-serif;
    font-size:1.6rem;
    padding-left:1.5rem;
    padding-right:1.5rem
}
input:focus,textarea:focus{
    border:2px solid #ebb706;
    outline:0
}
.no-padding{
    padding-left:0;
    padding-right:0
}
.no-padding-left{
    padding-left:0
}
.no-padding-right{
    padding-right:0
}
.progress-bar{
    border-radius:5rem
}
::-webkit-input-placeholder{
    font-size:1.35rem;
    font-style:italic
}
:-ms-input-placeholder{
    font-size:1.35rem;
    font-style:italic
}
::placeholder{
    font-size:1.35rem;
    font-style:italic
}
.svg-dropshadow{
    -webkit-filter:drop-shadow(0 .4rem .4rem rgba(0, 0, 0, .5));
    filter:drop-shadow(0 .4rem .4rem rgba(0, 0, 0, .5))
}
.input-group-addon{
    background-color:#2787df;
    border:0;
    color:#fefefe;
    cursor:pointer
}
.input-group{
    width:100%
}
#habla_window_div #habla_wcsend_input{
    max-width:100%
}
.open-modal{
    height:100%
}
@media only screen and (max-width:480px){
    .dropdown-menu{
        z-index:1
    }
}
@media only screen and (max-width:375px){
    body,nav .container{
        background:linear-gradient(225deg,#555 0,#0a0a0a 100%);
        background-attachment:fixed
    }
}
@media only screen and (min-width:767px){
    .hidden-medium-up{
        display:none
    }
}
@media only screen and (max-width:767px){
    .hidden-small-down{
        display:none
    }
}











i.tooltip-hint{
    color:#2787df;
    margin-left:.5rem
}
.dark-tooltip .tooltip>.tooltip-inner{
    background-color:#efefef;
    color:#0a0a0a
}
.dark-tooltip .tooltip.right>.tooltip-arrow{
    border-right-color:#efefef
}
.dark-tooltip .tooltip.top>.tooltip-arrow{
    border-top-color:#efefef
}
.dark-tooltip .tooltip.left>.tooltip-arrow{
    border-left-color:#efefef
}
.dark-tooltip .tooltip.bottom>.tooltip-arrow{
    border-bottom-color:#efefef
}






.text-right{
    text-align:right
}
.footer h5,.footer-icon-links,.footer-list-item,.text-left{
    text-align:left
}
.footer{
    padding-bottom:8rem
}
.footer a{
    color:#fefefe;
    font-size:1.35rem;
    font-weight:300;
    letter-spacing:.5px;
    cursor:pointer;
    text-decoration:none
}
.footer a:hover{
    color:#ebb706
}
.footer h5{
    color:#ebb706;
    font-size:1.6rem
}
.footer-col,.footer-col-1{
    list-style:none
}
.footer-col-1{
    margin-top:5rem
}
.footer-col{
    margin-top:12.5rem
}
.footer-logo{
    height:5rem;
    width:22rem
}
.contact-icon{
    margin-left:1rem;
    width:3.5rem
}
.social-icon{
    margin-left:-.5rem;
    margin-right:.25rem;
    width:2.5rem
}
.footer-icon-links{
    padding-left:2rem
}
.footer-list-item{
    margin-top:1rem
}
.footer-copyright{
    color:#fefefe;
    font-size:1.35rem;
    font-weight:300;
    letter-spacing:1px;
    background-color:#333;
    border:0;
    border-radius:0;
    margin-bottom:0;
    margin-top:1.8rem;
    min-height:0;
    text-align:center
}
@media only screen and (max-width:1170px){
    .footer{
        padding-bottom:2rem
    }
}
@media only screen and (max-width:991px){
    .footer-col{
        margin-top:6rem
    }
    .footer{
        padding-bottom:2rem
    }
}
@media only screen and (max-width:767px){
    .footer-col{
        margin-top:6rem;
        padding-left:1rem
    }
    .footer-col h5,.footer-col li{
        text-align:center
    }
    .footer-list-item{
        height:4.8rem
    }
}





.text-right{
    text-align:right
}
.text-left{
    text-align:left
}
nav{
    border:0;
    height:7.5rem
}
nav .show{
    transition-duration:.6s
}
nav ul{
    padding-top:2.5rem;
    position:relative;
    top:-.75rem
}
nav li{
    margin-left:3rem
}
nav a{
    color:#fefefe;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:1.35rem;
    font-weight:300;
    letter-spacing:.5px;
    line-height:0
}
nav a:hover{
    color:#ebb706;
    text-decoration:none
}
nav:not(.nav-scrolling-down){
   transition-duration:.2s
}
.nav-snap-in{
    position:absolute
}
.nav-scrolling-down,.nav-scrolling-up{
    position:fixed
}
.nav-scrolling-down{
    top:-10.5rem
}
.nav-scrolling-down:not(.collapsed.in){
    opacity:0
}
.nav-scrolling-up{
    box-shadow:0 0 30px rgba(0,0,0,.5);
    opacity:1;
    top:0
}
.nav-logo{
    height:5.3rem;
    margin:1rem 0;
    width:25rem
}
.hamburger-menu{
    display:none;
    float:left
}
.hamburger-menu .hamburger-overlay{
    background-color:rgba(0,0,0,.9);
    display:none;
    height:100vh;
    left:0;
    opacity:0;
    position:fixed;
    top:0;
    transition:opacity .15s ease,display .15s ease;
    width:100vw;
    z-index:1
}
.hamburger-menu .hamburger-overlay .menu-items{
    left:50%;
    min-width:30rem;
    position:absolute;
    text-align:center;
    top:50%;
    transform:translate(-50%,-50%)
}
.hamburger-menu .hamburger-overlay p{
    margin-top:5rem
}
.hamburger-menu .hamburger-overlay p:last-of-type{
    margin-bottom:5rem
}
.hamburger-menu .hamburger-overlay p a{
    color:#fefefe;
    font-size:2.3rem
}
.hamburger-menu .hamburger-button{
    cursor:pointer;
    margin:2.2rem 2rem;
    padding:1rem
}
.hamburger-menu .hamburger-button span{
    background-color:#fefefe;
    border-radius:.3rem;
    display:block;
    height:.3rem;
    margin-bottom:.7rem;
    position:relative;
    transform-origin:0 50%;
    transition:transform .15s cubic-bezier(.77,.2,.05,1),opacity .15s ease;
    width:3rem;
    z-index:100
}
.hamburger-menu .hamburger-button span:nth-last-child(2){
    transform-origin:0 100%
}
.hamburger-menu .hamburger-button-background{
    background-color:#0a0a0a;
    height:4.8rem;
    margin-left:-1rem;
    margin-top:-1.2rem;
    opacity:0;
    position:absolute;
    width:4.8rem;
    z-index:2
}
.hamburger-menu .hamburger-toggle{
    display:none
}
.hamburger-menu .hamburger-toggle:checked+.hamburger-button span{
    opacity:1;
    transform:translate(.4rem,-2.05rem) rotate(45deg)
}
.hamburger-menu .hamburger-toggle:checked+.hamburger-button span:nth-last-child(2){
    opacity:0;
    transform:rotate(0) scale(.2,.2)
}
.hamburger-menu .hamburger-toggle:checked+.hamburger-button span:nth-last-child(3){
    transform:translate(.4rem,2.05rem) rotate(-45deg)
}
.hamburger-menu .hamburger-toggle:checked~.hamburger-overlay{
    display:block;
    opacity:1
}
.dropdown{
    position:relative
}
.dropdown:hover .dropdown-content{
    display:block;
    text-decoration:none
}
.dropdown-content{
    background:#5c5c5c;
    box-shadow:0 .5rem .8rem 0 rgba(0,0,0,.5);
    display:none;
    min-width:15rem;
    position:absolute;
    z-index:100
}
.dropdown-content a{
    cursor:pointer;
    display:block;
    padding:2rem 1.5rem;
    text-align:left;
    width:15rem
}
.dropdown-content a:focus{
    color:#ebb706
}
.stop-scrolling{
    overflow:hidden
}
.tooth-top{
    border-bottom-color:#5c5c5c;
    border-left-color:transparent;
    border-right-color:transparent;
    border-style:solid;
    border-width:0 1rem 1rem;
    height:0;
    left:25%;
    margin-left:-.6rem;
    position:absolute;
    top:-1rem;
    width:0
}
.navbar-right{
    margin-left:-1.1rem
}
@media all and (-ms-high-contrast:none){
    ::-ms-backdrop,nav{
        background:linear-gradient(225deg,#555 0,#000 100%);
        background-attachment:scroll
    }
}
@media only screen and (max-width:1170px){
    nav li{
        margin-left:0;
        margin-right:0
    }
    .log-in,.sign-up{
        margin-left:2rem
    }
    .sign-up{
        margin-right:2rem
    }
    .nav-logo{
        margin:1rem 0
    }
}
@media only screen and (max-width:1080px){
    .navbar-brand{
        padding:0
    }
    .sign-up{
        margin-left:1rem;
        margin-right:1rem
    }
}
@media only screen and (max-width:785px){
    .collapsed-nav-container{
        display:none
    }
    .collapsed-nav{
        background-color:rgba(0,0,0,.9);
        min-height:100%;
        min-width:100%;
        overflow-y:auto;
        padding-top:5rem;
        position:fixed;
        text-align:center;
        top:0;
        z-index:3
    }
    .collapsed-nav li{
        margin-top:4rem
    }
    .collapsed-nav a{
        font-size:1.8rem
    }
    .navbar-buttons{
        margin-top:10rem;
        min-width:100%
    }
    .hamburger-menu{
        display:inline-block
    }
    .nav-logo{
        margin-left:1rem
    }
    .nav-links{
        left:-400%;
        transition-duration:.2s
    }
    .nav-links.show{
        left:0;
        transition-duration:.2s
    }
    .dropdown-menu .navbar-nav.dropdown.opena,.navbar-default .navbar-nav.dropdown.opena{
        background-color:transparent
    }
}
@media only screen and (max-width:375px){
    .nav-logo{
        margin-left:-20px
    }
}





.text-right{
    text-align:right
}
.text-left{
    text-align:left
}
.notification-container{
    left:50%;
    transform:translateX(-50%);
    position:fixed;
    top:100px;
    z-index:1050
}
.notification-container .alert{
    outline:0;
    padding:1.5rem 10rem;
    text-align:center;
    width:60rem
}
.notification-container .close-alert-container{
    height:0;
    position:relative;
    right:-9rem;
    text-align:right;
    top:-1.5rem;
    width:100%
}
.notification-container .close-alert{
    color:#b52b27;
    cursor:pointer;
    display:block;
    font-size:2.3rem;
    font-weight:700
}
.notification-container .close-alert:hover{
    color:#a02622
}
.notification-container .close-alert:active{
    color:#761c19
}
.notification-container .alert-success .close-alert{
    color:#1860a2
}
.notification-container .alert-success .close-alert:hover{
    color:#15538b
}
.notification-container .alert-success .close-alert:active{
    color:#0e385f
}
.notification-container .notification-link{
    color:#fefefe;
    font-weight:700;
    text-decoration:underline
}
.notification-container .notification-link:hover{
    color:#e5e5e5
}

.newellbrands-ui{
    z-index:1080
}
.newellbrands-ui .newellbrands-tag{
    background-color:#ccc;
    border:0;
    box-shadow:none;
    color:#333;
    -webkit-filter:drop-shadow(0 .2rem .2rem rgba(0, 0, 0, .15));
    filter:drop-shadow(0 .2rem .2rem rgba(0, 0, 0, .15))
}
.newellbrands-ui .newellbrands-tag:hover .newellbrands-tag-text{
    color:#333
}
.newellbrands-ui .newellbrands-tag.newellbrands-tag-green{
    background-color:#357f3e;
    color:#fefefe
}
.newellbrands-ui .newellbrands-tag.newellbrands-tag-green .newellbrands-tag-text{
    color:#fefefe
}
.newellbrands-ui .newellbrands-popup-header{
    color:#5c5c5c;
    font-family:Montserrat,"Arial Black",Arial,sans-serif;
    font-size:1.6rem;
    font-weight:500;
    line-height:2rem;
    padding-top:0;
    text-transform:capitalize
}
.newellbrands-ui #newellbrands-popup-secondary-number-input-box{
    background-color:#efefef;
    border:.2rem solid #fefefe;
    border-radius:3px;
    padding:.3rem 2rem;
    width:21.5rem
}
.newellbrands-ui #newellbrands-popup-secondary-number-input-box:focus{
    border:.2rem solid #ebb706
}
.newellbrands-ui .newellbrands-popup{
    border-radius:3px
}
.newellbrands-ui .newellbrands-choice-override{
    background-color:#7d7d7d;
    color:#fefefe
}
.newellbrands-ui .newellbrands-choice-override:hover{
    background-color:#8a8a8a
}
.newellbrands-ui .newellbrands-choice{
    font-family:Montserrat,"Arial Black",Arial,sans-serif
}
.newellbrands-ui .newellbrands-choice-list{
    margin-bottom:2rem
}
.newellbrands-ui .newellbrands-choice-list .newellbrands-choice{
    border-color:#ccc;
    border-radius:3px;
    font-family:"Open Sans",Arial,Helvetica,sans-serif;
    font-size:1.35rem;
    line-height:1.75rem;
    padding:.5rem 2rem
}
.newellbrands-ui .newellbrands-choice-list .newellbrands-choice,.newellbrands-ui .newellbrands-choice-list .newellbrands-choice:hover{
    border-width:2px;
    color:#5c5c5c
}
.newellbrands-ui .newellbrands-choice-list .newellbrands-choice:hover{
    background-color:#fefefe;
    border-color:#ebb706
}
.newellbrands-ui #newellbrands-popup-secondary-number-form-submit-button,.newellbrands-ui .newellbrands-choice-abort{
    background-color:#2787df
}
.newellbrands-ui #newellbrands-popup-secondary-number-form-submit-button:hover,.newellbrands-ui .newellbrands-choice-abort:hover{
    background-color:#3994e6
}
.newellbrands-ui .newellbrands-autocomplete{
    -webkit-filter:drop-shadow(0 .5rem .3rem rgba(0, 0, 0, .15));
    filter:drop-shadow(0 .5rem .3rem rgba(0, 0, 0, .15));
    background-color:#fefefe;
    border:1px solid rgba(0,0,0,.15);
    border-radius:3px;
    box-shadow:none;
    left:-.1rem;
    top:-.3rem;
    width:calc(100% + .1rem)
}
.newellbrands-ui .newellbrands-suggestion{
    font-family:Helvetica,sans-serif;
    font-size:1.35rem;
    padding:.2rem 2rem
}
.newellbrands-ui .newellbrands-suggestion,.newellbrands-ui .newellbrands-suggestion:hover{
    color:#333
}




.text-right{
    text-align:right
}
.text-left{
    text-align:left
}
.awesomplete [hidden]{
    display:none
}
.awesomplete .visually-hidden{
    position:absolute;
    clip:rect(0,0,0,0)
}
.awesomplete{
    display:inline-block;
    position:relative
}
.awesomplete>input{
    display:block
}
.awesomplete>ul{
    position:absolute;
    left:0;
    z-index:1;
    min-width:100%;
    box-sizing:border-box;
    list-style:none;
    padding:0;
    border-radius:.3em;
    margin:.2em 0 0;
    background:rgba(255,255,255,.9);
    background:linear-gradient(to bottom right,#fff,rgba(255,255,255,.8));
    border:1px solid rgba(0,0,0,.3);
    box-shadow:.05em .2em .6em rgba(0,0,0,.2);
    text-shadow:none
}
.awesomplete>ul:empty{
    display:none
}
@supports (transform:scale(0)){
    .awesomplete>ul{
        transition:.3s cubic-bezier(.4,.2,.5,1.4);
        transform-origin:1.43em -.43em
    }
    .awesomplete>ul:empty,.awesomplete>ul[hidden]{
        opacity:0;
        transform:scale(0);
        display:block;
        transition-timing-function:ease
    }
}
.awesomplete>ul:before{
    content:"";
    position:absolute;
    top:-.43em;
    left:1em;
    width:0;
    height:0;
    padding:.4em;
    background:#fff;
    border:inherit;
    border-right:0;
    border-bottom:0;
    transform:rotate(45deg)
}
.awesomplete>ul>li{
    position:relative;
    padding:.2em .5em;
    cursor:pointer;
    text-align:left
}
.awesomplete>ul>li:hover{
    background:#b8d3e0;
    color:#000
}
.awesomplete>ul>li[aria-selected=true]{
    background:#3d6d8f;
    color:#fff
}
.awesomplete mark{
    background:#eaff00
}
.awesomplete li:hover mark{
    background:#b5d100
}
.awesomplete li[aria-selected=true] mark{
    background:#3d6b00;
    color:inherit
}
.fa-stack{
    transform:translateY(-5%)
}
.fa-stack>.fa-circle{
    color:#fefefe;
    transform:scale(.9)
}
.fa-check-circle{
    color:#60bf2f
}
.fa-exclamation,.fa-exclamation-circle{
    color:#e4a625
}
.fa-times,.fa-times-circle{
    color:#d9534f
}
.fa-check{
    color:#357f3e
}
textarea{
    font-family:"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
    margin-bottom:5rem;
    resize:vertical
}
.italics{
    font-style:italic
}
.step-1{
    padding-top:1rem
}
.demo-col-1{
    padding-right:5rem
}
.demo-col-1 .select-box{
    float:right
}
.demo-col-2{
    border-left:2px solid #5c5c5c;
    padding-left:3.5rem
}
.address-input{
    margin-bottom:1.5rem
}
.address-input label{
    color:#fefefe;
    font-size:1.35rem;
    margin-left:6rem;
    margin-top:1rem
}
.address-input input{
    padding:.4rem 1.5rem
}
.address-input input:focus{
    padding:.2rem 1.3rem
}
.address-input input ::-webkit-input-placeholder{
    font-size:1.35rem;
    font-style:italic
}
.address-input input :-ms-input-placeholder{
    font-size:1.35rem;
    font-style:italic
}
.address-input input ::placeholder{
    font-size:1.35rem;
    font-style:italic
}
.more-details{
    font-size:1.35rem;
    margin:2rem .5rem 0 0;
    text-align:right
}
.submit-buttons{
    margin-top:3rem
}
.submit-request{
    margin:0 0 4rem
}
#delivery-line-addressee>.delivery-address::after{
    content:"Addressee"
}
#delivery-line-1>.delivery-address::after{
    content:"Delivery line 1"
}
#delivery-line-2>.delivery-address::after{
    content:"Delivery line 2"
}
#delivery-line-3>.delivery-address::after{
    content:"Delivery line 3"
}
#delivery-line-4>.delivery-address::after{
    content:"Delivery line 4"
}
#delivery-line-5>.delivery-address::after{
    content:"Delivery line 5"
}
#delivery-line-6>.delivery-address::after{
    content:"Delivery line 6"
}
#delivery-line-7>.delivery-address::after{
    content:"Delivery line 7"
}
#delivery-line-8>.delivery-address::after{
    content:"Delivery line 8"
}
#delivery-line-9>.delivery-address::after{
    content:"Delivery line 9"
}
#delivery-line-10>.delivery-address::after{
    content:"Delivery line 10"
}
#delivery-line-11>.delivery-address::after{
    content:"Delivery line 11"
}
#delivery-line-12>.delivery-address::after{
    content:"Delivery line 12"
}
#delivery-line-last>.delivery-address::after{
    content:"City, State, ZIP Code, +4 Code"
}
#delivery-line-country>.delivery-address::after{
    content:"Country"
}
#delivery-line-city-state-0>.delivery-address::after{
    content:"Primary City"
}
.other-city>.delivery-address::after{
    content:"Other City"
}
h4{
    color:#ccc;
    letter-spacing:.05rem
}
.candidates-container{
    border:1px solid #60bf2f;
    border-radius:2px;
    margin-top:4rem;
    padding:2.5rem 3rem
}
.candidates-container p{
    font-weight:300;
    margin:0 auto 1rem
}
.candidates-container p .number-of-candidates{
    font-weight:700
}
.candidates-container p.disclaimer{
    margin-top:3rem
}
.candidates-container .input-address{
    font-size:1.8rem;
    font-style:italic;
    font-weight:300
}
.candidates-container .text-small{
    font-size:1.35rem
}
.candidates-container .select-box-container{
    margin:1rem auto;
    width:90%
}
div.delivery-line-container{
    margin-bottom:4rem;
    margin-top:4rem
}
div.delivery-line-container div{
    margin-bottom:2.5rem
}
div.delivery-line-container .delivery-address{
    border-bottom:1px solid #7d7d7d;
    margin:0 0 .5rem;
    padding-left:.5rem;
    text-align:left;
    width:100%
}
div.delivery-line-container .delivery-address::after{
    color:#ccc;
    float:right;
    font-size:1rem;
    transform:translateY(2.9rem)
}
div.output-placeholder{
    height:50rem;
    transform:translateY(25%)
}
div.output-placeholder h3{
    color:#fefefe;
    margin-bottom:0
}
div.output-placeholder h4{
    font-weight:300;
    margin-top:1.5rem
}
div.awesomplete{
    display:block
}
.awesomplete>ul{
    color:#333;
    margin-left:41.667%;
    margin-top:4rem;
    min-width:0;
    width:58.333%
}
.alerts-container div{
    margin-top:2rem
}
.alerts-container div p{
    font-size:1.35rem;
    font-weight:300;
    letter-spacing:.05rem;
    margin:.5rem 1rem;
    text-align:left;
    width:calc(100% - 6rem)
}
.share-url{
    padding-top:2rem
}
.output-right{
    display:none
}
.output-bottom{
    display:none;
    margin:0 0 4rem
}
.toggle-container{
    margin:2rem 0 3rem
}
.google-compare a,.toggle-container a{
    font-size:1.35rem
}
.col-parent{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:row wrap;
    flex-flow:row wrap
}
.demo-col-3,.demo-col-4,.demo-col-5{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-flow:column;
    flex-flow:column;
    text-align:left
}
.demo-col-3 h4,.demo-col-4 h4,.demo-col-5 h4{
    text-align:center
}
.demo-col-4,.demo-col-5{
    border-left:2px solid #5c5c5c
}
ul.col-output{
    color:#7d7d7d;
    font-size:9pt;
    list-style-type:none;
    padding-left:0
}
ul.col-output li{
    margin-left:-1rem
}
ul.col-output li span{
    margin-top:2rem
}
ul.col-output li .answer{
    color:#ccc;
    font-weight:300;
    overflow-x:auto
}
.newellbrands-ui .newellbrands-suggestion{
    font-size:1.4rem;
    padding:.4rem 1.4rem
}
.newellbrands-ui .newellbrands-tag{
    display:none
}
.address-inputs{
    margin-top:2rem
}
.address-inputs .tooltip>.tooltip-inner{
    background-color:#ebb706;
    color:#fefefe
}
.address-inputs .tooltip.right>.tooltip-arrow{
    border-right-color:#ebb706
}
.address-inputs .tooltip.top>.tooltip-arrow{
    border-top-color:#ebb706
}
.address-inputs .tooltip.left>.tooltip-arrow{
    border-left-color:#ebb706
}
.address-inputs .tooltip.bottom>.tooltip-arrow{
    border-bottom-color:#ebb706
}
.map-container{
    margin-top:5rem
}
.map-container>.map{
    border:0;
    height:55rem;
    pointer-events:none;
    width:100%
}
.map-container>.map.clicked{
    pointer-events:auto
}
.freeform{
    width:70%
}
.results-header{
    font-size:2rem
}